<div class="container my-5">
  <% if notice %>
    <div class="alert alert-success my-5" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h3 class="my-3"><%= t('.page_title') %></h3>
  <%= render "form", survey: @survey %>
</div>
