<div class="container my-5">
  <div class="my-3"><%= link_to t('.back'), surveys_path %></div>

  <% if notice %>
    <div class="alert alert-success my-5" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="h3 my-5"><%= t('.page_title') %></h1>
  <%= render "form", survey: @survey %>
</div>
