<div class="container my-5">
  <div class="my-3"><%= link_to t('.back'), forms_path %></div>

  <div class="card rounded-1rem my-5">
    <div class="card-body">
      <p class="card-text"><%= t('.message') %></p>
    </div>
  </div>
</div>
